.office-form {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    background-color: #e3e3e3;
    border-radius: 15px;

}

.form-content {
    max-height: 70vh;
    overflow-y: auto;
    padding-right: 8px;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
}

.full-width {
    grid-column: span 1;
}

@media (min-width: 768px) {
    .form-grid {
        grid-template-columns: 1fr 1fr;
    }

    .full-width {
        grid-column: span 2;
    }
}